<h1>Internet of Stings</h1>
<p>Welcome! This is a back-end API for a beehive monitor and inspections logger created by Alyssa Evans. This is test information only and should not be used as accurate data.</p>

<p>You can reach the creator at her <a href="https://www.linkedin.com/in/alyssa-m-evans/">Linked In</a> or visit her <a href="https://github.com/missalyss?tab=stars">GitHub.</a></p>


<p><a href="/humiture">Visit the data collected by Honey Pi,</a> a heat and humidity sensor for The Collective (a beehive)</p>

<p><a href="/inspections">See the logs</a> made by recent hive inspections.</p>
